.country-page {
  @include boxSize()
  text-align: center;
}
.country-page-btn {
  @include boxSizeSmall();
  display: flex;
  flex-direction: column;
  align-items: center;
}
.country-info {
  box-sizing:border-box;
  padding: 5px;

  @media (min-width: 768px) {
    padding: 30px;
  }
}
.text {
  font-size: $btnFontSizeSmall;
  font-weight: bold;
  @media (min-width: 768px) {
    font-size: 24px;
  }
}

.flag {
  @media (min-width: 768px) {
    width: 50%;
    height: 50%;
  }
}

.showMap {
  box-sizing:border-box;
  padding-bottom: 1px;
  @media (min-width: 768px) {
    padding-bottom: 30px;
  }
}

.map.svgMap{
  overflow: auto;
}

div.map {
  padding: 0;
  height: 0;
  @media (min-width: 768px) {
    padding: 20px;
    height: auto;
  }
}