.country-page {
  @include boxSize()
  text-align: center;
  h1 {
    font-size: $btnFontSizeLarge;
    font-weight: bold;
    @media (min-width: 768px) {
      font-size: 36px;
    }
  }
}
.country-page-btn {
  @include boxSizeSmall();
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    display: block;
  }
}
.country-info {
  box-sizing:border-box;
  padding: 5px;

  @media (min-width: 768px) {
    padding: 30px;
  }
}
.search-page h1 {
  font-weight: bold;
  font-size: $btnFontSizeLarge;
  @media (min-width: 768px) {
    font-size: $fontCountrySarchH1;
  }
;
}
.text {
  color: white;
  font-size: $btnFontSizeMedium;
  font-weight: bold;

  @media (min-width: 768px) {
    font-size: 36px;
  }
}

.flag {
  @media (min-width: 768px) {
    width: 50%;
    height: 50%;
  }
}

.showMap {
  box-sizing:border-box;
  padding-bottom: 1px;
  @media (min-width: 768px) {
    padding-bottom: 30px;
  }
}

.map.svgMap{
  overflow: auto;
}

div.map {
  padding: 0;
  height: 0;
  @media (min-width: 768px) {
    padding: 20px;
    height: auto;
  }
}