@mixin boxSize() {
  box-sizing: border-box;
  padding: 20px;
};

@mixin boxSizeSmall() {
  box-sizing: border-box;
  padding: 10px;
};
@mixin textDecor() {
  color: #FFFFFF;

  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ffffff;
};

@mixin textDecorTitle() {
  color:  #B3199E;
  text-shadow: 0 0 5px #B3199E, 0 0 10px #B3199E, 0 0 15px #B3199E, 0 0 20px #B3199E;
};