$pageColor: #00b8d4;
$mainFont:  'Arimo', sans-serif;
$btnFontSizeSmall: 12px;
$btnFontSizeMedium: 16px;
$btnFontSizeLarge: 24px;
$fontCountrySarchH1: 56px;
$fontColorList: #df09eb;
$fontCOlorMain: #B3199E;
$mainGradnient: linear-gradient(0deg, rgba(46,199,227,0.9144608527004552) 26%, rgba(175,18,233,0.676365614605217) 100%);

//opacify($color, $amount)